<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Digital Thread Porfolio</title>
  <base href="./" target="_blank">
  <link href="./media/favicon.png" rel="shortcut icon">

  <!-- GE stylesheet -->
  <!-- <link href="http://mvp2-myge.gecdn.com/build/css/myge.css?bust=2.43.0-306" rel="stylesheet"> -->
  <link href="./css/ge_font_icons.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

<!-- =========================  NAV  ============================ -->

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">Digital Thread Portfolio</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" ng-repeat="link in links | reverse">
        <li><a target="blank" ng-href="{{link.link}}" xlink:href="">{{link.page}}</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li ng-repeat="link in links">
          <a target="blank" ng-href="{{link.link}}" xlink:href="">{{link.page}}<i class="material-icons">{{link.icon}}</i></a>
        </li>
      </ul>
    </div>
  </nav>

<!-- ================  Page | Home  =================== -->
<!-- <a href="#geoanalytics">geo</a> -->
  <!-- <div ng-view> -->
  <!-- </div> -->

  <!-- <div ng-view> -->
  <!-- </div> -->

  <div id="home" style="display:blank;">

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center blue-text"><b>Digital Thread Home</b></h1>
          <div class="row center">
            <h5 class="header col s12 light">Xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxx xxxxxxxxxx.</h5>
          </div>
<!--           <div class="row">
            <div class="center col s6">
              <a href="#/" id="download-button" class="btn-large waves-effect waves-light blue lighten-1 hoverable">Request Access</a>
            </div>
            <div class="center col s6">
              <a href="#" id="download-button" class="btn-large waves-effect waves-light blue lighten-1 hoverable">Launch App</a>
            </div>
          </div>
          <br><br> -->
        </div>
      </div>
      <div class="parallax"><img src="./media/digital water getty.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center grey-text"><span class="icon-alert-lg"></span></h2>
              <h5 class="center">Xxxxxxxxxx</h5>
              <p class="light">xxxxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxx.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center grey-text"><span class="icon-form1-lg"></span></h2>
              <h5 class="center">Xxxxxxxxxx</h5>
              <p class="light">xxxxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxx.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center grey-text"><span class="icon-worldasia-lg"></span></h2>
              <h5 class="center">Xxxxxxxxxx</h5>
              <p class="light">xxxxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxxxxxxx.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h2 class="header col s12 light"><strong>What we do</strong></h2>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="./media/geoa_ss2.png" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
      <div class="section">
        <h4>Project List</h4>
<!-- Row -->
        <div class="row">
          <div class="col s12 m4">
            <div class="card small sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="./media/getty_659870010108163766.jpg" height=175>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">EngineDNA<i class="material-icons right">more_vert</i></span>
              </div>
                <div class="card-action">
                  <a href="javascript:hide('home');hide('geoanalytics');show('edna');hide('digitaltwin');$('html,body').scrollTop(0);">Go</a>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">EngineDNA<i class="material-icons right">close</i></span>
                <p>Connects critical manufacturing and engine configuration data to create engineering visualizations.</p>
              </div>
            </div>
          </div>

          <!-- Card -->
          <div class="col s12 m4">
            <div class="card small sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="./media/Digital (42).jpg" height=175>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">GeoAnalytics<i class="material-icons right">more_vert</i></span>
                <!-- <p><a href="#">This is a link</a></p> -->
              </div>
                <div class="card-action">
                  <a href="javascript:hide('home');show('geoanalytics');hide('edna');hide('digitaltwin');$('html,body').scrollTop(0);">GO</a>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">GeoAnalytics<i class="material-icons right">close</i></span>
                <p>Puts engine environment visualization into the hands of the user, allowing for rapid exploration.</p>
              </div>
            </div>
          </div>

          <!-- Card -->
          <div class="col s12 m4">
            <div class="card small sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="https://cdn-mspoweruser.netdna-ssl.com/wp-content/uploads/2016/11/ge-turbines.jpg" height=175>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Digital Twin<i class="material-icons right">more_vert</i></span>
                <!-- <p><a href="#">This is a link</a></p> -->
              </div>
                <div class="card-action">
                  <a href="javascript:hide('home');hide('geoanalytics');hide('edna');show('digitaltwin');$('html,body').scrollTop(0);">GO</a>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Digital Twin<i class="material-icons right">close</i></span>
                <p>XXXXXXXXX xxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

<!-- Row -->
          <div class="col s12 m4">
            <div class="card small sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="http://www.clker.com/cliparts/S/r/1/i/S/Q/blue-book-hi.png" height=175>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Digital Blue Book<i class="material-icons right">more_vert</i></span>
                <!-- <p><a href="#">This is a link</a></p> -->
              </div>
                <div class="card-action">
                  <a href="#!">Coming soon!</a>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Digital Blue Book<i class="material-icons right">close</i></span>
                <p>XXXXXXXXX xxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx.</p>
              </div>
            </div>
          </div>

          <!-- Card -->
          <div class="col s12 m4">
            <div class="card small sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="http://i.amz.mshcdn.com/Pf8rgZS-LqGw4AFjirGWutrTeKc=/1200x627/2014%2F05%2F30%2Ff6%2FPyro.a66bf.gif" height=175>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">FIRE<i class="material-icons right">more_vert</i></span>
                <!-- <p><a href="#">This is a link</a></p> -->
              </div>
                <div class="card-action">
                  <a href="#!">Coming soon!</a>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">XXXXXXXXX (Coming soon)<i class="material-icons right">close</i></span>
                <p>XXXXXXXXX xxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx.</p>
              </div>
            </div>
          </div>

          <!-- Card -->
          <div class="col s12 m4">
            <div class="card small sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <h2 class="center grey-text"><span class="icon-alert-lg"></span></h2>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Configuration Tracking<i class="material-icons right">more_vert</i></span>
              </div>
                <div class="card-action">
                  <a href="#!">Coming soon!</a>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">XXXXXXXXX<i class="material-icons right">close</i></span>
                <p>XXXXXXXXX xxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx.</p>
              </div>
            </div>
          </div>
        </div>
<!-- Row -->
        <div class="row">
          <div class="col s12 m4">
            <div class="card small sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="./media/Digital (42).jpg" height=175>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">XXXXXXXXXX<i class="material-icons right">more_vert</i></span>
              </div>
                <div class="card-action">
                  <a href="#!">Coming soon!</a>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">XXXXXXXx<i class="material-icons right">close</i></span>
                <p>XXXXXXXXX xxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx.</p>
              </div>
            </div>
          </div>

          <!-- Card -->
          <div class="col s12 m4">
            <div class="card small sticky-action hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="./media/Digital (42).jpg" height=175>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">XXXXXXX<i class="material-icons right">more_vert</i></span>
              </div>
                <div class="card-action">
                  <a href="#!">Coming soon!</a>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">XXXXXXXXXXXX<i class="material-icons right">close</i></span>
                <p>XXXXXXXXX xxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxx.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h2 class="header col s12 light"><strong>Who we are</strong></h2>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="./media/geoa_ss1.png" alt="Unsplashed background img 2"></div>
    </div>
    
    <div class="page-footer blue">
      <div class="container row">
        <div class="col m12">
          <h5 class="white-text">Aviation Engineering Digital Thread Leader</h5>
          <div class="chip hoverable" ng-repeat="member in dt_leaders">
            <img ng-src="https://supportcentral.gecdn.com/images/person/temp/{{member.SSO}}.jpg"><a href="mailto:{{member.SSO}}@ge.com">{{member.name}}</a>
          </div>
        </div>
        <div class="col m12">
          <h5 class="white-text">Core Team</h5>
          <div class="chip hoverable" ng-repeat="member in dt_members">
            <img ng-src="https://supportcentral.gecdn.com/images/person/temp/{{member.SSO}}.jpg"><a href="mailto:{{member.SSO}}@ge.com">{{member.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-footer teal">
      <div class="container row">
        <div class="col m12">
          <h5 class="white-text">Key Support Team Members</h5>
          <div class="chip hoverable" ng-repeat="member in dt_supporters">
            <img ng-src="https://supportcentral.gecdn.com/images/person/temp/{{member.SSO}}.jpg"><a href="mailto:{{member.SSO}}@ge.com">{{member.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-footer grey">
      <div class="container row">
        <div class="col m12">
          <h5 class="white-text">Incoming Team Members</h5>
          <div class="chip hoverable" ng-repeat="member in dt_incoming">
            <img ng-src="https://supportcentral.gecdn.com/images/person/temp/{{member.SSO}}.jpg"><a href="mailto:{{member.SSO}}@ge.com">{{member.name}}</a>
          </div>
        </div>
        <div class="col m12">
          <h5 class="white-text">Lynn Digital Thread</h5>
          <div class="chip hoverable" ng-repeat="member in dt_lynn">
            <img ng-src="https://supportcentral.gecdn.com/images/person/temp/{{member.SSO}}.jpg"><a href="mailto:{{member.SSO}}@ge.com">{{member.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="page-footer blue">
      <div class="container row">
        <div class="col m12">
          <h5 class="white-text">Alumni</h5>
          <div class="chip hoverable" ng-repeat="member in dt_alumni">
            <img ng-src="https://supportcentral.gecdn.com/images/person/temp/{{member.SSO}}.jpg"><a href="mailto:{{member.SSO}}@ge.com">{{member.name}}</a>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m3">
          </div>
          <div class="col s12 m3">
            <div class="icon-block">
              <h2 class="center brown-text"><a href="https://digitalexchange.ge.com/"><img src="./media/digitalexchange_icon.png" height=50></a></h2>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="icon-block">
              <h2 class="center brown-text"><a href="https://aviation-apphub-client-0-app.run.asv-pr.ice.predix.io/"><img src="./media/AppHub_icon.png" height=50></a></h2>
            </div>
          </div>
          <div class="col s12 m3">
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Web template by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
  </div>


  <!-- ===== END ===== -->
  <!-- </div> -->
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="./js/materialize.js"></script>
  <script src="./js/init.js"></script>

  <script type="text/javascript">
    var options = [
      {selector: '#image-test', offset: 500, callback: function(el) {
        Materialize.fadeInImage($(el));
        $("#call-4").velocity({ backgroundColor: "#333", color: "#ef5350" }, {duration: 500});
      } }
    ];
    Materialize.scrollFire(options);
  </script>

  <script src="./js/myApp.js"></script>
  <script src="./js/myCtrl.js"></script>
  <!-- <script src="./js/ngParallax.min.js"> </script>  -->

</body>
</html>
